.output-box {
  border: 1px solid #ccc;
  background: #fafafa;
  padding: 10px;
  margin-top: 12px;
  min-height: 60px;
}

.error-box {
  background: #ffe2e2;
  border: 1px solid #ff7777;
  padding: 10px;
  margin-top: 12px;
}
textarea {
  width: 100%;
}
