$fontPath: './fonts/';

@mixin font-face($font-name, $font-path, // path + file name. Ex : path/to/font/filename

  $font-weight: 400, $font-style: normal, $support-required: 'modern') {
  @font-face {
    font-family: $font-name;
    font-style: $font-style;
    font-weight: $font-weight;

    @if $support-required=='oldie' {
      src: url('#{$fontPath}#{$font-path}.woff2') format('woff2'),
      url('#{$fontPath}#{$font-path}.woff') format('woff'),
      url('#{$fontPath}#{$font-path}.ttf') format('truetype');
    }

    @if $support-required=='recent' {
      src: url('#{$fontPath}#{$font-path}.woff2') format('woff2'),
      url('#{$fontPath}#{$font-path}.woff') format('woff'),
      url('#{$fontPath}#{$font-path}.ttf') format('truetype');
    }

    @if $support-required=='modern' {
      src: url('#{$fontPath}#{$font-path}.woff2') format('woff2'),
      url('#{$fontPath}#{$font-path}.woff') format('woff');
    }
  }

  @if $support-required !='oldie' and $support-required !='recent' and $support-required !='modern' {
    @error 'Invalid support-required value. Must be "oldie"==>IE8 and above/ Android native browser 4+/ Safari 4.3 OR "recent"==>IE9+/ Android native browser 4.0+/ Safari 4.3+ OR "modern"==>IE9+/ Android native browser 4.4+/ Safari 5.1+';
  }
}

// Commented as it was commented in saudia-booking-develop
/** New Fonts **/
// @include font-face("Suisse Intl", "SuisseIntl-Regular-WebXL/SuisseIntl-Regular-WebXL", 400, normal, "oldie");
// @include font-face("Suisse Intl", "SuisseIntl-Medium-WebXL/SuisseIntl-Medium-WebXL", 500, normal, "oldie");
// @include font-face("Suisse Intl", "SuisseIntl-SemiBold-WebXL/SuisseIntl-SemiBold-WebXL", 600, normal, "oldie");
// @include font-face("Suisse Intl", "SuisseIntl-Bold-WebXL/SuisseIntl-Bold-WebXL", 900, normal, "oldie");
